<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
	
  <div class="sidebar-item">
	  <img src="{{baseurl}}/images/pagan-dharma-smaller.png">
    <p>{{ site.tagline }}</p>

  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

	<a rel=”author” class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ baseurl }}/about">About</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ baseurl }}/contact">Contact</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ baseurl }}/projects">Projects</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ baseurl }}/archive">Archive</a>
  </nav>

  <div class="sidebar-item">
    <p>
      Copyrights &copy; {{ site.time | date: '%Y' }} Pagan Dharma.
    </p>
  </div>
</div>
